# Object files
*.o
obj/

# Executables
miniRT
test

# Libraries (submodules or external code)
lib/

# Test files and artifacts
tests/

# VSCode project settings
.vscode/

# Core dumps (optional, if you're debugging with gdb or similar)
core
